.middleElem {
    margin-top: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.middleContainer {
    color: #A0B0B9;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 150% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

// .middleContainer:last-child {
//     align-items: flex-end;
// }



.time {
    color: #4A4A4A;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    /* 150% */

}

.span {
    text-transform: lowercase;
}